<nav class="navbar navbar-light " style="background-color: #e3f2fd;">
    <a class="navbar-brand">Proof Reading</a>
    <% if user_signed_in? %>
        <form class="form-inline nav-item nav-link mr-sm-2">
          &nbsp<%= link_to "Available buses", buses_path %>&nbsp &nbsp &nbsp
          <%= link_to " Home", root_path %>&nbsp
        	&nbsp<strong><%= current_user.email %></strong>&nbsp
          &nbsp<%= link_to " Edit profile", edit_user_registration_path %>&nbsp
          &nbsp<%= link_to " logout", destroy_user_session_path, method: :delete %>
        </form>
    <% else %>
        <form class="form-inline">
            <a class="nav-item nav-link mr-sm-2" href="/admins/sign_in">Admin Login</a>
            <a class="nav-item nav-link mr-sm-2" href="/users/sign_in">User Login</a>
            <a class="nav-item nav-link mr-sm-2" href="/users/sign_up">Register</a>
        </form>
    <% end %>
</nav>
<center>
  <h1>Available Balance:</h1>
  <%= @user.wallet.balance rescue 0 %><br>
  <%= link_to "Add money", new_wallet_path(id: current_user.id) %><br>
  <%= link_to "Back" , root_path %>
</center>