<nav class="navbar navbar-light " style="background-color: #e3f2fd;">
    <a class="navbar-brand">Ticket Booking</a>
    <% if user_signed_in? %>
        <form class="form-inline nav-item nav-link mr-sm-2">
            <%= link_to "Home", root_path %>&nbsp
        	&nbsp<%= link_to "Add money", wallets_path(id: current_user.id) %> &nbsp
        	 balance:<%= current_user.wallet.balance %> &nbsp
        	&nbsp<strong><%= current_user.email %></strong>&nbsp
          &nbsp<%= link_to " Edit profile", edit_user_registration_path %>&nbsp
          &nbsp<%= link_to " logout", destroy_user_session_path, method: :delete %>
        </form>
    <% else %>
        <form class="form-inline">
            <a class="nav-item nav-link mr-sm-2" href="/admins/sign_in">Admin Login</a>
            <a class="nav-item nav-link mr-sm-2" href="/users/sign_in">User Login</a>
            <a class="nav-item nav-link mr-sm-2" href="/users/sign_up">Register</a>
        </form>
    <% end %>
</nav>
<center>
    <section style="height:100vh; background-size: cover; background-image: url(https://r8a5m2f2.stackpathcdn.com/wp-content/uploads/2016/12/BUS-Ticketing-Management.jpg);">
        <div style="float: left; padding-left: 20%;">
            <h1>Added to reservation list</h1>
            <center><%= link_to "Back", root_path %></center>
        </div>
    </section>
</center>