<nav class="navbar navbar-light " style="background-color: #e3f2fd;">
    <a class="navbar-brand">Ticket Booking</a>
    <% if user_signed_in? %>
        <form class="form-inline nav-item nav-link mr-sm-2">
          <%= link_to "Home", root_path %>&nbsp
          &nbsp<%= link_to "Available buses", buses_path %>&nbsp &nbsp &nbsp
          &nbsp<%= link_to "All Statements", my_statements_path %>&nbsp
           &nbsp &nbsp<%= link_to "Add money", wallets_path(id: current_user.id) %> &nbsp
           balance:<%= current_user.wallet.balance %> &nbsp
          &nbsp<strong><%= current_user.email %></strong>&nbsp
          &nbsp<%= link_to " Edit profile", edit_user_registration_path %>&nbsp
          &nbsp<%= link_to " logout", destroy_user_session_path, method: :delete %>
        </form>
    <% else %>
        <form class="form-inline">
            <a class="nav-item nav-link mr-sm-2" href="/admins/sign_in">Admin Login</a>
            <a class="nav-item nav-link mr-sm-2" href="/users/sign_in">User Login</a>
            <a class="nav-item nav-link mr-sm-2" href="/users/sign_up">Register</a>
        </form>
    <% end %>
</nav>
<center>
    <h1>My Reservations</h1>
    <table class= "myTable" style="width: 50%">
      <tr>
        <th>Ref Id</th>
        <th>Bus Id</th>
        <th>no.of seats</th>
        <th>Fare</th>
        <th>Status</th>
        <th>Pay</th>
        <th>cancel</th>
        <th>Statements</th>
      </tr>
      <tr>
        <% @reservations.each do |bus| %>
          <td><%= bus.bus_no %></td>
          <td><%= link_to "#{bus.bus_id}" , book_path(id: bus.bus_id) %></td>
          <td><%= bus.no_seats %></td>
          <td><%= bus.fare %></td>
          <td><%= bus.Reserve_status %></td>
          <% if bus.Reserve_status == "pending" %>
            <td><%= link_to 'pay', payment_path(id: bus.id) %></td>
            <td></td>
          <% elsif bus.Reserve_status == "cancelled" %>
            <td>refunded</td>
            <td>cancelled</td>
          <% else %>
            <td>paid</td>
          <td><%= link_to 'cancel', cancel_path(id: bus.payment_id) %></td>
          <% end %>
         <td><%= link_to 'Statements', statement_path(id: bus.id) %></td>
       </tr>
      <% end %>
   </table> 
</center>
<style>
.myTable { 
  width: 100%;
  text-align: left;
  background-color: white;
  border-collapse: collapse; 
  }
.myTable th { 
  background-color: lightgreen;
  color: salmon; 
  }
.myTable td, 
.myTable th { 
  padding: 10px;
  border: 1px solid black; 
  }
  tr:nth-child(even) {background-color: #F0ffff;}
</style>